/*----------HTML & BODY----------*/

html {
    height: 100%;
}

body {
    background: white;
    color: black;
    font-family: 'Abel', sans-serif;
}

/*----------COMMON CSS----------*/

.center {
    text-align:center;
    width: fit-content;
    margin: auto;
}

.extra-button-margin {
    margin: 20px auto;
}

.border-black {
    border: 1px solid black !important;
}

/*----------HEADERS----------*/

.header-font {
    font-family: 'Amatic SC', cursive;
}

.headers {
    font-size: 45px;
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
   .headers {
       font-size: 65px; 
    }
}

/*----------HOME SECTION----------*/

.home-section {
    background: url('/media/home.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.top-cover {
    background: rgba(255, 255, 255, 0.3)
}

.home-logo {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.home-description {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 16px;
}

.shop-now-button {
    background: white;
    color: #E19B74;
    padding: 10px 30px;
    border: #E19B74 solid 3px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #E19B74;
    color: white;
    border: white solid 3px;

}

@media only screen and (min-width: 768px) {
   .home-logo {
       font-size: 80px; 
    }

    .home-description {
        font-size: 20px;
    }

    .shop-now-button {
       font-size: 25px; 
    }
}

@media only screen and (min-width: 992px) {
   .home-logo {
       font-size: 100px; 
    }

    .home-description {
        font-size: 30px;
    }

    .shop-now-button {
       font-size: 35px; 
    }
}

/*---------- HEADER, NAV & BANNER----------*/

.nav-logo {
    font-weight: bold;
    color: black;
    letter-spacing: 2px;
}

.nav-link {
    color: black;
}

#delivery-banner {
    padding-top: 80px;
}

.banner{
    background: black;
    color: white;
    padding: 5px;
}

/*---------- FOOTER ----------*/

footer {
    background: #E19B74;
}

/* -------------------------------- Media Queries */
.header-container {
    margin-top: 122px;
}

@media (min-width: 992px) {
    .header-container {
        padding-top: 0px;
    }
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.designed-button {
    background: white;
    color: #E19B74 !important; /* use important to override link colors for <a> elements */
    border: 2px solid #E19B74;
    height: 42px;
    bottom: 10px;
}

.designed-button:hover,
.designed-button:active,
.designed-button:focus {
    background: #E19B74;
    color: white !important;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: white;
    padding: 10px 15px;
    border: 2px solid #E19B74;
    border-radius: 4px;
    margin: 15px 5px;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color:#E19B74;
    border-color: #E19B74;
}

.radio-toolbar input[type="radio"]:focus + label {
    border: 2px dashed #E19B74;
}

.radio-toolbar label:hover {
  background-color: #E19B74;
}