{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container">
    </div>
{% endblock %}

{% block content %}

<div class="products-section">
    <h2 class="header-font text-center p-2 headers">Products</h2>
    <hr class="w-75 mb-3 m-auto">


    <div class="container-fluid">
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
                            <div class="card h-100 border-0">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0 fw-bold">{{ product.name }}</p>
                                </div>
                                <div class="card-footer pt-0 border-0">
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="mb-0 text-start">£{{ product.price }}</p>
                                        </div>
                                        <div class="col-6">
                                            {% if product.rating %}
                                                <p class="text-end"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</p>
                                            {% else %}
                                                <p class="text-end">No Rating</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
