{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container ">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container">
                <h4 class="mb-2 fw-bold">{{ product.name }}</h4>
                <div class="row">
                    <div class="col-6">
                        <p class="mb-0 text-start"> £{{ size.price }}</p>
                    </div>
                    <div class="col-6">
                        <p class="mb-0 text-end">
                            {% if product.get_avg_rating == "No Rating" %}
                            {{ product.get_avg_rating }}
                            {% else %}
                            <i class="fas fa-star mr-1"></i>{{ product.get_avg_rating }} / 5
                            {% endif %}
                        </p>
                    </div>
                    {% if product.category %}
                    <p class=" m-0">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            {{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                </div>
                <p class="mt-3">{{ product.description }}</p>
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_product' product.id %}">Edit Product</a> |
                    <a href="{% url 'add_size' product.id %}">Add Size</a> |
                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                </small>
                {% endif %}


                <form class="form" action="{% url 'add_to_bag' product.id size.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="m-0 fw-bold">Quantity:</p>


                            {% for item in product.size_set.all %}
                            <div class="product-size-section d-inline-block mr-1 mb-2">
                                <a class="size-btt p-2 d-inline-block w-100 text-center"
                                    href="{% url 'product_size' product.id item.id %}">{{ item.size }} <br>
                                    £{{ item.price }}</a>
                                {% if request.user.is_superuser %}
                                <br><a href="{% url 'edit_size' product.id item.id %}">Edit</a> |
                                <a class="text-danger" href="{% url 'delete_size' product.id item.id %}">Delete</a>
                                {% endif %}
                            </div>
                            {% endfor %}

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn btn-black rounded-0" data-item_id="{{ size.id }}"
                                        id="decrement-qty_{{ size.id }}">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control qty_input" type="number" name="quantity" value="1" min="1"
                                    max="99" data-item_id="{{ size.id }}" id="id_qty_{{ size.id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn btn-black rounded-0" data-item_id="{{ size.id }}"
                                        id="increment-qty_{{ size.id }}">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>

                            <div class="col-12 text-end">
                                <a href="{% url 'products' %}" class="btn designed-button rounded-0 mt-2">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="fw-bold">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn designed-button rounded-0 fw-bold mt-2"
                                    value="Add to Bag">
                            </div>
                            <input type="hidden" name="product_id" value="{{ product_id }}">
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                </form>


            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 px-4 py-3">
        <p class="m-0 fw-bold">Ingredients:</p>
        <p class="m-0">{{ product.ingredients }}</p>
    </div>
</div>

<div class="row">
    <div class="col-12 px-4 py-3 text-center">
        <h5 class="text-center">Reviews</h5>
        <h6 class="text-center fw-bold">
            {% if product.get_avg_rating == "No Rating" %}
            {{ product.get_avg_rating }}
            {% else %}
            <i class="fas fa-star mr-1"></i>{{ product.get_avg_rating }} / 5
            {% endif %}
        </h6>
        <a href="{% url 'add_review' product.id %}">Add Review</a>
        <hr class="w-75 mb-3 m-auto">
        {% for review in reviews %}
        <p class="text-center"><i class="fas fa-star mr-1"></i>{{ review.star }} / 5 </p>
        <p class="text-center">{{ review.review }}</p>
        <hr class="w-75 mb-3 m-auto">
        {% endfor %}

    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}