{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-container">
</div>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container mt-5 mb-2">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <h4 class="mb-2 fw-bold">{{ product.name }}</h4>
                <div class="row">
                    <div class="col-6">
                        <p class="mb-0 text-start">{{ product.get_prices }}</p>
                    </div>
                    <div class="col-6">
                        <p class="mb-0 text-end">
                            {% if product.get_avg_rating == "No Rating" %}
                            {{ product.get_avg_rating }}
                            {% else %}
                            <i class="fas fa-star mr-1"></i>{{ product.get_avg_rating }} / 5
                            {% endif %}
                        </p>
                    </div>
                    {% if product.category %}
                    <p class=" m-0">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            {{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                </div>
                <p class="my-2">{{ product.description }}</p>
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_product' product.id %}">Edit Product</a> |
                    <a href="{% url 'add_size' product.id %}">Add Size</a> |
                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                </small>
                {% endif %}

                <div class="col-12">
                    <p class="m-0 fw-bold">Quantity:</p>

                    <div class="radio-toolbar">
                        {% for item in product.size_set.all %}
                        <div class="product-size-section d-inline-block mr-1">
                            <a class="size-btt p-2 d-inline-block w-100 text-center"
                                href="{% url 'product_size' product.id item.id %}">{{ item.size }} <br>
                                £{{ item.price }}</a>
                            {% if request.user.is_superuser %}
                            <br><a href="{% url 'edit_size' product.id item.id %}">Edit</a> |
                            <a class="text-danger" href="{% url 'delete_size' product.id item.id %}">Delete</a>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p class="m-0 fw-bold">Ingredients:</p>
<p class="m-0">{{ product.ingredients }}</p>

<p class="text-center fw-bold">Reviews</p>
{{ average }}
<div class="reviews">
    {% for review in reviews %}
    <p>{{ review.star}}</p>
    <p>{{ review.review }}</p>
    {% endfor %}
</div>
{% endblock %}